body{
    background-color: black;
}

.form-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px; /* Espacio para el canvas */
    background:  0% 0% / contain rgb(20, 21, 31);
    color: #ccc;
    position: relative;
}

input, button {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

canvas {
    background:  0% 0% / contain rgb(20, 21, 31);
    border: 1px solid #ccc;
    width: 99% ;
    /* height: 600px; */
}

