body {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: black;
}

.canvasContaier{
    width: 1000px;
    height: 1000px;
}

canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #0b1b35;
}

